html,body {
  height: 100%;
}
body{
	margin:0;
}
.enemy{
	background-color:red;
	width:50%;
	height:50%;
	margin:auto;
	position:relative;
	top:25%;
}
.box{
	background-size: 100% 100%;
	float: left;
}
.sanctuary{
	margin:0;
	position:absolute;
	top:33%;
	left:33%;
	font-size:200px;
	color:white;
}
#me {
	background-color:white; 
	width:50%; 
	border-top: 5px solid red; 
	height:50%;
	margin:auto;
	position:relative;
	top:25%;
}

.object{
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
}
#selector div, #magicMenu div, #targeter div, #itemMenu div{
	display:table;
	border: 1px solid black;
	box-shadow: 0px 0px 10px 0px inset;
	box-sizing:border-box;
}
#selector span, #magicMenu span, #targeter span, #itemMenu span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
#selector div:hover, #magicMenu div:hover, #targeter div:hover, #itemMenu div:hover{
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
#Fight{
	width:90%;
	height:90%;
	background:white;
	color:black;
	position:absolute;
	top:5%;
	left:5%;
}
#Fight div{
	width:50%;
	height:50%;
	position:relative;
	float:left;
}
#selector{
	left:50%;
}
#them{
	left:50%;
}
#mine{
	top:50%;
	right:50%;
}

#overlay, #fightOverlay{
	width:100%;
	height:100%;
	position:absolute;
	background-color: rgba(1, 1, 1, 0.4);
}

#magicMenu, #itemMenu{
	width:50%;
	height:100%;
	position:absolute;
	right:25%;
	background:white;
}

#magicMenu div, #itemMenu div{
	width:50%;
	height:25%;
	position:relative;
	float: left;
}
#leaveMagic{
	left:25%;
}

#targeter{
	width:50%;
	height:30%;
	position:absolute;
	right:25%;
	background:white;
	top:20%;
}
#targeter div{
	width:50%;
	height:50%;
	position:relative;
	float: left;
}
#targeter p{
	margin-top:9%;
	text-align:center;
}